* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

.hero {
    background-color: #000;
    color: #ff4fa3;
    text-align: center;
    padding: 60px 20px;
}

.hero p {
    font-size: 18px;
}

.contenedor {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

.oscuro {
    background-color: #111;
    color: #fff;
}

h2 {
    color: #ff4fa3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px 0;
}

.btn {
    display: inline-block;
    background-color: #ff4fa3;
    color: #000;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 15px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
.logo {
    width: 120px;
    margin-bottom: 15px;
}
.foto {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
